
._docs
._support
docs/._.DS_Store
docs/.DS_Store
docs/guide/._guide.md
Parse SVG Glyphs/Test SVG Fonts/._boxicons-LICENSE
samples/._SVG Icons Browser.oxtstack
support/._defaultscript.livecodescript
support/._icon@extra-high.png
._OXTLibSVGIcons.lcb
._*
